<!DOCTYPE html>
<html lang="en-US">
<title>API's Home</title>
<meta charset="UTF-8">
<body>
<h1># Stock Exchange API</h1>
<div>This project is for learning purposes only.</div>
<br />
<div>It’s a very simple API in order to access a database where is located data about stock prices, volumes of shares, etc.</div>
<br />
<div>With the API, it's possible to have some information:</div>
<ul>
    <li>What's the closing price of a specific stock;</li>
    <li>How many shares were traded for a specific stock in a specific date;</li>
    <li>The variation of a stock's price, given a period of time;</li>
    <li>Etc.</li>
</ul>
<div>For this project, I'm coding in Python, using Visual Studio Code. The data are stored in a PostgreSQL database. And, for the routes, I'm using Flask framework.</div>
</body>
</html>